@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,700");

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$main: #fff;
$second: #dddddd;
$black: #202020;

%flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

%transition {
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

%uppercase {
  text-transform: uppercase;
}

body {
  background: $main;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
}

h1 {font-size: 2rem;}

h2 {font-size: 1.4rem;}

h3 {
  font-size: 0.8rem;
  font-weight: 200;
  @extend %uppercase;
}

a {text-decoration: none;}

a,
p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  color: #61666a;
}

li {list-style-type: none;}

.top-bar {
  background: $second;
  @extend %uppercase;
  font-weight: 600;
  padding: 0.6rem 0;

  @extend %flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;

  a,
  p {
    color: #000;
  }

  @media (max-width: 800px) {
    display: none;
  }

  .user-data {
    @extend %flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    a {
      text-decoration: none;
      padding-right: 1.25rem;

      &:last-child {padding: 0;}

      .fa-shopping-cart,
      .fa-user {
        color: $black;
        margin-left: 1px;
      }

      .circle {
        height: 20px;
        width: 20px;

<<<<<<< HEAD
        text-align: center;

        background: #00b2b2;
        color: $main;
        border-radius: 50%;
        padding: 2px;

        margin: -1px 0 0 0;
        display: inline-block;

        p {
          color: $main;
          font-weight: bold;
        }
      }
=======
      position: absolute;
      top: 9px;
      margin-left: 3px;
>>>>>>> origin/gh-pages
    }
  }
}

// Menu
// Hiding the hamburger icon.
.toggle-menu {display: none;}

header {
  max-width: 840px;
  padding: 1.25rem 0;
  margin: 0 auto;
}

.site-title img {
  display: inline-block;
  vertical-align: middle;
}

// Styling nav
.nav-list {
  @extend %flex;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  white-space: nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  li {
    position: relative;
    font-weight: 600;

    .has-logo h2 {
      -webkit-animation-name: slideDown;
      animation-name: slideDown;
      -webkit-animation-direction: forwards;
      animation-direction: forwards;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-transform: translate3d(0, -500px, 0);
      transform: translate3d(0, -500px, 0);

      @-webkit-keyframes slideDown {
        0% {
          -webkit-transform: translate3d(0, -500px, 0);
          transform: translate3d(0, -500px, 0);
        }
        100% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }

      @keyframes slideDown {
        0% {
          -webkit-transform: translate3d(0, -500px, 0);
          transform: translate3d(0, -500px, 0);
        }
        100% {
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
        }
      }
    }

    &:hover {
      background: $main;
      color: $black;
      @extend %transition;
    }

    &:not(.has-logo) {
      @extend %uppercase;
      padding: 0.5rem 1rem;
      display: block;
    }

    &:hover a + ul {
      display: block;
      top: 100%;
    }

    .fa-angle-down {
      font-size: 1rem;
      margin-left: 5px;
      vertical-align: middle;
    }
  }

  .sublists {
    background: $black;
    position: absolute;
    display: none;
    z-index: 99;

    &:after {
      content: "";
      width: 0;
      height: 0;

      border-style: solid;
      border-width: 0 5px 10px 5px;
      border-color: transparent transparent $black transparent;

      position: absolute;
      top: -10px;
      left: 0;

      @media (max-width: 680px) {
        display: none;
      }
    }

    a {
      color: $main;
      padding: 0.5rem;
      display: block;

      &:hover {color: $black;}
    }
  }
}

.mobile-display {display: none;}
// Fim do menu

.search {
  padding: 10px 20px 20px;

  @extend %flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @media (max-width: 800px) {
    padding: 40px 0;
  }

  input {
    width: 45%;

    background: lighten($second, 2%);
    font-weight: bold;
    padding: 12px 15px;

    @extend %transition;
    outline: none;

    &:focus {
      background: darken($second, 10%);
    }

    @media (max-width: 800px) {
      width: 65%;
    }

    @media (max-width: 680px) {
      font-size: 1rem;
    }

    &::placeholder {
      font-size: 0.8rem;
      @extend %uppercase;
    }
  }

  button {
    background: lighten($second, 2%);
    padding: 12px 15px;

    position: relative;
    outline: none;

    @extend %transition;

    &:hover {background: darken($second, 2%);}
  }
}

.article {
  padding: 20px 40px 40px;

  @extend %flex;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  @media (max-width: 800px) {
    padding: 0 0 40px 0;
  }

  h2 {
    font-size: 1.2rem;
    @extend %uppercase;
    padding-bottom: 1.2rem;
  }

  img {
    width: 65%;
    opacity: 0.9;
    @extend %transition;

    &:hover {opacity: 1;}

    @media (max-width: 800px) {
      width: 70%;
    }
  }

  p {
    width: 70%;

    font-size: 1rem;
    font-weight: 600;
    text-align: center;

    padding-top: 2rem;

    @media (max-width: 800px) {
      text-align: justify;
      padding-top: 1.5rem;
    }
  }
}

.products {
  padding: 2.5rem 6rem 20px;
  border-top: solid 1px $second;
  border-bottom: solid 1px $second;

  @media (min-width: 800px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  h1 {
    text-align: center;

    @media (max-width: 640px) {
      font-size: 1.5rem;
    }
  }

  p {@extend %uppercase;}

  .products-container {
    width: 100%;
    padding: 1.5rem 0;

    @extend %flex;

    -ms-flex-pack: distribute;
    justify-content: space-around;

    @media (max-width: 800px) {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }

    .card {
      text-align: center; // serve para o desktop e para o responsivo.
      padding: 2rem 0;

      &:hover {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
        -webkit-box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.4);

        @extend %transition;
      }

      span {
        font-size: 0.8rem;
        color: #bbb;

        border-radius: 50%;
        border: solid 2px #bbb;

        position: absolute;
        padding: 5px;

        @media (max-width: 800px) {
          font-size: 0.6rem;
        }

        p {
          font-size: 1rem;
          color: #bbb;
          @extend %uppercase;

          position: absolute;
          top: -5px;
          left: 140%;

          @media (max-width: 800px) {
            font-size: 0.8rem;
          }
        }
      }

      img {width: 80%;}

      h3 {font-weight: 600;}

      p {
        font-weight: 600;
        padding-top: 0.5rem;
        opacity: 0.9;
      }
    }
  }
}

.social {
  padding: 2.5rem;

  @extend %flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  .social-images {
    margin: 1.6rem 2rem;
    max-width: 75%;
    
    @extend %flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    .box {
      position: relative;
      margin-bottom: 0.8rem;
      margin-right: 0.8rem;

      img {
        @extend %transition;
        display: block;
      }

      .overlay {
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.5);

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;

        @extend %transition;
      }

      .text {
        color: rgba(32, 32, 32, 1);
        text-align: center;

        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

      &:hover .overlay {
        -webkit-box-shadow: inset 0px 0px 0px 5px rgba(32, 32, 32, 1);
        box-shadow: inset 0px 0px 0px 5px rgba(32, 32, 32, 1);
        opacity: 1;
      }
    }
  }
}

// Tablets
@media only screen and (max-width: 900px) {
  header {padding: 0;}

  .nav-list li:not(.has-logo) {padding: 0.5rem 0;}

  .has-logo {display: none;}

  .mobile-display {
    margin: 1rem auto;
    text-align: center;
    display: block;
  }

  .search {padding: 1rem 0 1.5rem 0;}

  .products p {text-align: center;}

  .social .social-images {max-width: 100%;}
}

// Smarts
@media only screen and (max-width: 680px) {
  .toggle-menu {
    max-width: -webkit-min-content; // tamanho será igual ao conteúdo, ou seja, o hambúrguer.
    max-width: -moz-min-content;
    max-width: -moz-min-content;
    max-width: min-content;

    background: $black;
    text-align: center;
    color: $main !important;

    margin: 1rem auto; // centralizando automaticamente.
    border-radius: 0.25rem;
    padding: 1rem;
    display: block;

    &:hover {background: lighten($black, 15%);}
  }

  .nav-list {
    max-height: 0;
    width: 100%;
    line-height: 1rem;

    background: $main;
    padding: 0 20%;
    text-align: center;

    position: static;
    top: 0;
    left: 0;

    display: block;
    z-index: 1012;
    // Ocultando a lista inicialmente, para exibir ao clicar no botão hambúrger.
    overflow: hidden;

    &.active {
      max-height: 100%;
      overflow: auto;
    }

    .sublists {
      text-indent: 2rem;
      position: static;
      z-index: 1013;

      li {text-align: left;}
    }
  }
<<<<<<< HEAD
  .article p {font-size: 0.8rem;}
}
=======
}
>>>>>>> origin/gh-pages
