@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:400,600');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

$main: #fff;
$second: #DDDDDD;
$black: #202020;

::placeholder {
  font-size: 1.1rem;

  @media (max-width:800px){
    font-size: 0.9rem;
  }
}

body {
  background: $main;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

// mudar a fonte 'Raleway' para outra sem números caídos.
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.05rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

a, p {
  font-size: 0.7rem;
  color: #61666a;
}

li {
  list-style-type: none;
}

.header {
  background: $second;
  padding: 0.6rem 0;

  text-transform: uppercase;
  font-weight: 600;

  display: flex;
  justify-content: space-around;

  @media (max-width: 800px) {
    display: none;
  }

  .user-data {
    display: inherit;
    justify-content: space-between;

    a {
      padding-right: 1.25rem;
      text-decoration: none;

      &:last-child {
        padding: 0;
      }
    }

    .cart:after {
      content: "0";
      height: 20px;
      width: 15px;
      background: #00b2b2;
      color: $main;
      border-radius: 50%;
      text-align: center;

      position: absolute;
      top: 9px;
      margin-left: 3px;
    }
  }
}

// Menu
// Hiding the hamburger icon.
.toggle-menu {
  display: none;
}

header {
  max-width: 840px;
  margin: 0 auto;
  //border: solid 1px #000;
  padding: 1.25rem 0;
}

.site-title img {
  display: inline-block;
  vertical-align: middle;
}

// Styling nav
.nav-list {
  display: flex;
  flex-flow: row;
  white-space: nowrap;
  justify-content:space-around;
  align-items:center;
  
  li {
    position: relative;
    font-weight: 600;

    .has-logo h2 {
      animation-name: slideDown;
      animation-direction: forwards;
      animation-timing-function: ease-in-out;
      transform: translate3d(0,-500px,0);

      @keyframes slideDown {
        0% {
          transform: translate3d(0,-500px,0);
        }
        100% {
          transform: translate3d(0,0,0);
        }
      }
    }
    
    &:hover {
      color: $black;
      background: $main;
      transition: ease-out 0.2s;
    }
    
    &:not(.has-logo){
      text-transform: uppercase;
      display: block;
      padding: 0.5rem 1rem;
    }
    
    // Para quando eu passar o mouse no elemento li, quero revelar o submenu que é diretamente após. Ele é composto pelo a e o ul, logo usa-se o seletor combinatório.
    &:hover a + ul {
      display: block;
      top: 100%;
    }

    .fa-angle-down {
      font-size: 1rem;
      margin-left: 5px;
      vertical-align: middle;
    }
  }
  
  ul {
    position:absolute;
    z-index:99;
    background:$black;
    display:none;

    &:after {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      top: -10px;
      left: 0;
      border-style: solid;
      border-width: 0 5px 10px 5px;
      border-color: transparent transparent $black transparent;
      
      @media only screen and (max-width: 680px){
        display: none;
      }

    }
    
    // fazer com que o 'a' ocupe o espaço inteiro do botão.
    a {
      color: $main;
      display: block;
      padding: 0.5rem;

      &:hover {
        color: $black;
      }
    }
  }
}

.mobile-display {
  display: none;
}

// Fim do menu

.search {
  padding: 10px 20px 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 800px) {
    padding: 40px 0;
  }

  input {
    width: 45%;
    font-weight: bold;
    padding: 12px 15px;
    background: lighten($second, 2%);
    outline: none;
    transition: ease-in-out 0.5s;

    &:focus {
      background: darken($second, 10%);
    }

    @media (max-width: 800px) {
      width: 65%;
    }
  
  }

  button {
    position: relative;
    padding: 12px 15px;
    background: lighten($second, 2%);
  }
}

.article {
  // background:lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px 40px;

  @media (max-width: 800px) {
    padding: 0 0 40px 0;
  }

  h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 1.4rem;
  }

  img {
    width: 65%;
    transition: ease-in-out 0.2s;
    opacity: 0.9;

    &:hover {
      opacity: 1;
    }

    @media (max-width: 800px) {
      width: 70%;
    }
  }

  p {
    font-size: 1rem;
    width: 70%;
    padding-top: 2rem;
    font-weight: 600;
    text-align: center;

    @media (max-width: 800px) {
      padding-top: 1.5rem;
      text-align: justify;
    }
  }
}

.products {
  padding: 2.5rem 6rem 20px;
  border-top: solid 1px $second;
  border-bottom: solid 1px $second;

  @media (min-width: 800px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    margin: 0;
    text-align: center;
  }

  .products-container {
    width: 100%;
    padding: 1.5rem 0;
    // border: 1px solid #000;

    display: flex;
    justify-content: space-around;

    @media (max-width: 800px) {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    
    .card {
      padding: 2rem 0;
      text-align: center; // serve para o desktop e para o responsivo.

      &:hover {
        transition: ease-out 0.5s;
        transform: translate3d(0,-10px,0);
        -webkit-box-shadow: 0px 7px 12px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 7px 12px rgba(0,0,0,0.2);
        box-shadow: 0px 7px 12px rgba(0,0,0,0.4);
      }

      span {
        position: absolute;
        padding: 5px;
        font-size: 0.8rem;
        border-radius: 50%;
        border:solid 2px #bbb;
        color: #bbb;

        @media (max-width: 800px){
          font-size: 0.6rem;
        }

        p {
          position: absolute;
          top: -5px;
          color: #bbb;
          text-transform: uppercase;
          font-size: 1rem;
          left: 140%;
          
          @media (max-width: 800px){
            font-size: 0.8rem;
          }
        }
      }

      img {
        width: 80%;
      }

      h3 {
        font-weight: 600;
      }

      p {
        padding-top: 0.5rem;
        font-weight: 600;
        opacity: 0.9;
      }
    }
  }
}

.social {
  padding: 2.5rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;

  // quando diminui a tela, fica ruim.
  .social-images {
    margin: 1.6rem 2rem;
    max-width: 75%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .contain {
      position: relative;
      margin-bottom: 0.8rem;
      margin-right: 0.8rem;

      img {
        display: block;
        transition: ease-in-out 0.2s;
      }

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: ease 0.5s;
        background: rgba(255,255,255, 0.5);
      }
      
      .text {
        color: rgba(32, 32, 32, 1);
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        text-align:center;
      }

      &:hover .overlay {
        opacity: 1;
        -webkit-box-shadow: inset 0px 0px 0px 5px rgba(32, 32, 32, 1);
        -moz-box-shadow: inset 0px 0px 0px 5px rgba(32, 32, 32, 1);
        box-shadow: inset 0px 0px 0px 5px rgba(32, 32, 32, 1);
      }
    }
  }
}

// Media-queries do menu

// Tablets
@media only screen and (max-width: 900px){
  header {
    padding: 0;
  }
  .nav-list li:not(.has-logo) {
    padding: 0.5rem 0;
  }
  .has-logo {
    display: none;
  }
  .mobile-display {
    display: block;
    margin: 1rem auto;
    text-align:center;
  }
  .search {
    padding: 1rem 0 1.5rem 0;
  }
  .products {
    p {
      text-align: center;
    }
  }
  .social {
    .social-images {
      max-width: 100%;
    }
  }
}

// Smarts
@media only screen and (max-width: 680px){
  .toggle-menu {
    display: block;
    max-width: -webkit-min-content; // tamanho será igual ao conteúdo, ou seja, o hambúrguer em si.
    max-width: -moz-min-content;
    max-width: min-content;
    margin: 1rem auto; // centralizando automaticamente.
    background: $black;
    text-align:center;
    color: $main !important;
    padding: 1rem;
    border-radius: .25rem;
    
    &:hover {
      background: #f92266;
    }
  }
  
  .nav-list {
    display: block;
    width: 100%;
    position: static;
    line-height: 1rem;
    z-index: 1012;
    left:0;
    top:0;
    background: $main;
    padding: 0 20%;
    text-align: center;
    
    // Ocultando a lista inicialmente, para exibir ao clicar no botão hambúrger.
    max-height: 0;
    overflow: hidden;
    
    &.active {
      max-height: 100%;
      overflow: auto;
    }
    
    // submenus!
    ul {
      position: static;
      text-indent: 2rem;
      z-index: 1013;
      text-align: center;

      li {
        text-align: center;
      }
    }
  }
}
