@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,700");
/* line 3, ../sass/styles.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/styles.scss */
.top-bar, .top-bar .user-data, .nav-list, .search, .article, .products .products-container, .social, .social .social-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* line 21, ../sass/styles.scss */
.nav-list li:hover, .search input, .search button, .article img, .products .products-container .card:hover, .social .social-images .box img, .social .social-images .box .overlay {
  -webkit-transition: ease-in-out 0.2s;
  -o-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

/* line 27, ../sass/styles.scss */
h3, .top-bar, .nav-list li:not(.has-logo), .search input::placeholder, .article h2, .products p, .products .products-container .card span p {
  text-transform: uppercase;
}

/* line 31, ../sass/styles.scss */
body {
  background: #fff;
  line-height: 1.5;
}

/* line 36, ../sass/styles.scss */
h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
}

/* line 44, ../sass/styles.scss */
h1 {
  font-size: 2rem;
}

/* line 46, ../sass/styles.scss */
h2 {
  font-size: 1.4rem;
}

/* line 48, ../sass/styles.scss */
h3 {
  font-size: 0.8rem;
  font-weight: 200;
}

/* line 54, ../sass/styles.scss */
a {
  text-decoration: none;
}

/* line 56, ../sass/styles.scss */
a,
p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  color: #61666a;
}

/* line 63, ../sass/styles.scss */
li {
  list-style-type: none;
}

/* line 65, ../sass/styles.scss */
.top-bar {
  background: #dddddd;
  font-weight: 600;
  padding: 0.6rem 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
/* line 75, ../sass/styles.scss */
.top-bar a,
.top-bar p {
  color: #000;
}
@media (max-width: 800px) {
  /* line 65, ../sass/styles.scss */
  .top-bar {
    display: none;
  }
}
/* line 84, ../sass/styles.scss */
.top-bar .user-data {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 90, ../sass/styles.scss */
.top-bar .user-data a {
  text-decoration: none;
  padding-right: 1.25rem;
}
/* line 94, ../sass/styles.scss */
.top-bar .user-data a:last-child {
  padding: 0;
}
/* line 96, ../sass/styles.scss */
.top-bar .user-data a .fa-shopping-cart,
.top-bar .user-data a .fa-user {
  color: #202020;
  margin-left: 1px;
}
/* line 102, ../sass/styles.scss */
.top-bar .user-data a .circle {
  height: 20px;
  width: 20px;
  text-align: center;
  background: #00b2b2;
  color: #fff;
  border-radius: 50%;
<<<<<<< HEAD
  padding: 2px;
  margin: -1px 0 0 0;
  display: inline-block;
}
/* line 116, ../sass/styles.scss */
.top-bar .user-data a .circle p {
  color: #fff;
  font-weight: bold;
=======
  text-align: center;
  position: absolute;
  top: 9px;
  margin-left: 3px;
>>>>>>> origin/gh-pages
}

/* line 127, ../sass/styles.scss */
.toggle-menu {
  display: none;
}

/* line 129, ../sass/styles.scss */
header {
  max-width: 840px;
  padding: 1.25rem 0;
  margin: 0 auto;
}

/* line 135, ../sass/styles.scss */
.site-title img {
  display: inline-block;
  vertical-align: middle;
}

/* line 141, ../sass/styles.scss */
.nav-list {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  white-space: nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 155, ../sass/styles.scss */
.nav-list li {
  position: relative;
  font-weight: 600;
}
/* line 159, ../sass/styles.scss */
.nav-list li .has-logo h2 {
  -webkit-animation-name: slideDown;
  animation-name: slideDown;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-transform: translate3d(0, -500px, 0);
  transform: translate3d(0, -500px, 0);
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideDown {
  0% {
    -webkit-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/* line 192, ../sass/styles.scss */
.nav-list li:hover {
  background: #fff;
  color: #202020;
}
/* line 198, ../sass/styles.scss */
.nav-list li:not(.has-logo) {
  padding: 0.5rem 1rem;
  display: block;
}
/* line 204, ../sass/styles.scss */
.nav-list li:hover a + ul {
  display: block;
  top: 100%;
}
/* line 209, ../sass/styles.scss */
.nav-list li .fa-angle-down {
  font-size: 1rem;
  margin-left: 5px;
  vertical-align: middle;
}
/* line 216, ../sass/styles.scss */
.nav-list .sublists {
  background: #202020;
  position: absolute;
  display: none;
  z-index: 99;
}
/* line 222, ../sass/styles.scss */
.nav-list .sublists:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #202020 transparent;
  position: absolute;
  top: -10px;
  left: 0;
}
@media (max-width: 680px) {
  /* line 222, ../sass/styles.scss */
  .nav-list .sublists:after {
    display: none;
  }
}
/* line 240, ../sass/styles.scss */
.nav-list .sublists a {
  color: #fff;
  padding: 0.5rem;
  display: block;
}
/* line 245, ../sass/styles.scss */
.nav-list .sublists a:hover {
  color: #202020;
}

/* line 250, ../sass/styles.scss */
.mobile-display {
  display: none;
}

/* line 253, ../sass/styles.scss */
.search {
  padding: 10px 20px 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 800px) {
  /* line 253, ../sass/styles.scss */
  .search {
    padding: 40px 0;
  }
}
/* line 269, ../sass/styles.scss */
.search input {
  width: 45%;
  background: #e2e2e2;
  font-weight: bold;
  padding: 12px 15px;
  outline: none;
}
/* line 279, ../sass/styles.scss */
.search input:focus {
  background: #c4c4c4;
}
@media (max-width: 800px) {
  /* line 269, ../sass/styles.scss */
  .search input {
    width: 65%;
  }
}
@media (max-width: 680px) {
  /* line 269, ../sass/styles.scss */
  .search input {
    font-size: 1rem;
  }
}
/* line 291, ../sass/styles.scss */
.search input::placeholder {
  font-size: 0.8rem;
}
/* line 297, ../sass/styles.scss */
.search button {
  background: #e2e2e2;
  padding: 12px 15px;
  position: relative;
  outline: none;
}
/* line 306, ../sass/styles.scss */
.search button:hover {
  background: #d8d8d8;
}

/* line 310, ../sass/styles.scss */
.article {
  padding: 20px 40px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 800px) {
  /* line 310, ../sass/styles.scss */
  .article {
    padding: 0 0 40px 0;
  }
}
/* line 327, ../sass/styles.scss */
.article h2 {
  font-size: 1.2rem;
  padding-bottom: 1.2rem;
}
/* line 333, ../sass/styles.scss */
.article img {
  width: 65%;
  opacity: 0.9;
}
/* line 338, ../sass/styles.scss */
.article img:hover {
  opacity: 1;
}
@media (max-width: 800px) {
  /* line 333, ../sass/styles.scss */
  .article img {
    width: 70%;
  }
}
/* line 345, ../sass/styles.scss */
.article p {
  width: 70%;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  padding-top: 2rem;
}
@media (max-width: 800px) {
  /* line 345, ../sass/styles.scss */
  .article p {
    text-align: justify;
    padding-top: 1.5rem;
  }
}

/* line 361, ../sass/styles.scss */
.products {
  padding: 2.5rem 6rem 20px;
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
}
@media (min-width: 800px) {
  /* line 361, ../sass/styles.scss */
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
/* line 379, ../sass/styles.scss */
.products h1 {
  text-align: center;
}
@media (max-width: 640px) {
  /* line 379, ../sass/styles.scss */
  .products h1 {
    font-size: 1.5rem;
  }
}
/* line 389, ../sass/styles.scss */
.products .products-container {
  width: 100%;
  padding: 1.5rem 0;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
@media (max-width: 800px) {
  /* line 389, ../sass/styles.scss */
  .products .products-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
/* line 408, ../sass/styles.scss */
.products .products-container .card {
  text-align: center;
  padding: 2rem 0;
}
/* line 412, ../sass/styles.scss */
.products .products-container .card:hover {
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.4);
}
/* line 421, ../sass/styles.scss */
.products .products-container .card span {
  font-size: 0.8rem;
  color: #bbb;
  border-radius: 50%;
  border: solid 2px #bbb;
  position: absolute;
  padding: 5px;
}
@media (max-width: 800px) {
  /* line 421, ../sass/styles.scss */
  .products .products-container .card span {
    font-size: 0.6rem;
  }
}
/* line 435, ../sass/styles.scss */
.products .products-container .card span p {
  font-size: 1rem;
  color: #bbb;
  position: absolute;
  top: -5px;
  left: 140%;
}
@media (max-width: 800px) {
  /* line 435, ../sass/styles.scss */
  .products .products-container .card span p {
    font-size: 0.8rem;
  }
}
/* line 450, ../sass/styles.scss */
.products .products-container .card img {
  width: 80%;
}
/* line 452, ../sass/styles.scss */
.products .products-container .card h3 {
  font-weight: 600;
}
/* line 454, ../sass/styles.scss */
.products .products-container .card p {
  font-weight: 600;
  padding-top: 0.5rem;
  opacity: 0.9;
}

/* line 463, ../sass/styles.scss */
.social {
  padding: 2.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 475, ../sass/styles.scss */
.social .social-images {
  margin: 1.6rem 2rem;
  max-width: 75%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 489, ../sass/styles.scss */
.social .social-images .box {
  position: relative;
  margin-bottom: 0.8rem;
  margin-right: 0.8rem;
}
/* line 494, ../sass/styles.scss */
.social .social-images .box img {
  display: block;
}
/* line 499, ../sass/styles.scss */
.social .social-images .box .overlay {
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
/* line 514, ../sass/styles.scss */
.social .social-images .box .text {
  color: #202020;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 526, ../sass/styles.scss */
.social .social-images .box:hover .overlay {
  -webkit-box-shadow: inset 0px 0px 0px 5px #202020;
  box-shadow: inset 0px 0px 0px 5px #202020;
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  /* line 537, ../sass/styles.scss */
  header {
    padding: 0;
  }

  /* line 539, ../sass/styles.scss */
  .nav-list li:not(.has-logo) {
    padding: 0.5rem 0;
  }

  /* line 541, ../sass/styles.scss */
  .has-logo {
    display: none;
  }

  /* line 543, ../sass/styles.scss */
  .mobile-display {
    margin: 1rem auto;
    text-align: center;
    display: block;
  }

  /* line 549, ../sass/styles.scss */
  .search {
    padding: 1rem 0 1.5rem 0;
  }

  /* line 551, ../sass/styles.scss */
  .products p {
    text-align: center;
  }

  /* line 553, ../sass/styles.scss */
  .social .social-images {
    max-width: 100%;
  }
}
@media only screen and (max-width: 680px) {
  /* line 558, ../sass/styles.scss */
  .toggle-menu {
    max-width: -webkit-min-content;
    max-width: -moz-min-content;
    max-width: -moz-min-content;
    max-width: min-content;
    background: #202020;
    text-align: center;
    color: #fff !important;
    margin: 1rem auto;
    border-radius: 0.25rem;
    padding: 1rem;
    display: block;
  }
  /* line 573, ../sass/styles.scss */
  .toggle-menu:hover {
    background: #464646;
  }

  /* line 576, ../sass/styles.scss */
  .nav-list {
    max-height: 0;
    width: 100%;
    line-height: 1rem;
    background: #fff;
    padding: 0 20%;
    text-align: center;
    position: static;
    top: 0;
    left: 0;
    display: block;
    z-index: 1012;
    overflow: hidden;
  }
  /* line 594, ../sass/styles.scss */
  .nav-list.active {
    max-height: 100%;
    overflow: auto;
  }
  /* line 599, ../sass/styles.scss */
  .nav-list .sublists {
    text-indent: 2rem;
    position: static;
    z-index: 1013;
  }
  /* line 604, ../sass/styles.scss */
  .nav-list .sublists li {
    text-align: left;
  }

  /* line 607, ../sass/styles.scss */
  .article p {
    font-size: 0.8rem;
  }
}
